# Created by venv; see https://docs.python.org/3/library/venv.html

bin/
\.vscode/
lib/
include/
etc/
lib64/
share/
/pyvenv.cfg
.\env
moviescrapper/moviescrapper/__pycache__/
moviescrapper/moviescrapper/spiders/__pycache__/
